<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Auth0:Domain" value="dev-0k5re5452sqz7ypj.eu.auth0.com" />
		<add key="Auth0:ClientId" value="zGfoxMiNd1WdJ6ErO7gTsNVvqnBQxmO7" />
		<add key="Auth0:Audience" value="https://readbuddy/api" />
		<add key="Auth0:RedirectUri" value="http://127.0.0.1:7890" />
		<add key="Backend:BaseUrl" value="http://127.0.0.1:8000" />
	</appSettings>
</configuration>
